# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
build/
dist/

# venvs
.env
.venv
env/
venv/

# generated passwords (never commit these!)
passx-*.txt
*.passwords.txt

# editors / OS
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db
